.header{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #565673;
    letter-spacing: 1.2px;
    font-size: 13px;
}

.headerMenu a:hover{
    /* color: dodgerblue; */
    color: teal;
}