.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}

.navbar a:hover{
    /* color: dodgerblue; */
    color: teal;
}

.search{
    display: flex;
    margin: 0 10px;
}

.search img{
    padding-left: 5px
}